{% assign plain_link = 'mailto:' | append: site.email %}
{% assign obfuscated_link = plain_link | url_encode | split: '' | reverse | join: '' %}
   <footer>
    View this website's source code on <a href="https://github.com/tinykite/tinykite.github.io">GitHub</a> or <a class="email" href="mailto:dakota@tinykitelab.com">Say Hello</a></footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/tweenmax.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
  </html>