{% assign plain_link = 'mailto:' | append: site.email %}
{% assign obfuscated_link = plain_link | url_encode | split: '' | reverse | join: '' %}
   <footer>
    View this website's source code on <a href="https://github.com/tinykite/tinykite.github.io">GitHub</a> or <a class="email" href="{{ obfuscated_link }}">Say Hello</a></footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
  </html>