.article {
  margin: 3rem auto 0;
  width: 80%;
  max-width: 40rem;

  @include min-width($min-width--lg) {
    width: 65%;
    margin: 3rem auto 0;
  }

  @include min-width($min-width--xl) {
    width: 50%;

    &--longform {
      width: 55%;
    }

    &--list {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2.5rem;
    }
  }

  &__image {
    &--lead {
      margin: 1rem auto 0;

      @include min-width($min-width--xl) {
        width: 65%;
        margin: 2rem auto 0;
      }
    }
    }
  }

  &__hr {
    text-align: center;
    margin: 2rem 0;
  }

  h2 {
    margin: 2rem 0 0;
  }

  img {
    padding: 1rem 0;
    
    @include min-width($min-width--lg) {
      padding: 2rem 0;

      & + & {
        padding: 0;
      }
    }

    @include min-width($min-width--xl) {
      max-width: 130%;
      margin: 0 -15%;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: "Canela Text Regular", serif;
  	font-weight: normal;
    font-style: normal;

    &--emphasis {
      text-align: center;
      margin-top: 3rem;
      font-size: 2rem;
    }

    &--list {
      font-size: 2.5rem;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__date {
    text-transform: uppercase;
    color: #777777;
    font-weight: normal;
    font-family: freight-neo-pro,sans-serif;
    margin: 0.25rem 0;
  }

  &__intro {
    font-size: 24px;
  }

  &__desc {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: #737373;
    font-size: 1.25rem;

    &--list {
      text-align: left;
      font-size: 1.25rem; 
      margin: 1rem 0; 
      font-style: normal;
      color: #000;
    }
  }

  p {
    line-height: 1.5;

    a:link, a:visited {
      color: inherit;
      font-weight: normal;
      text-decoration: none;
      border-bottom: 2px solid $peach;
    }

    a:hover {
      background: $peach;
    }
  }

  &__button { 
    margin: 2rem 0;
    display: inline-block; 
    font-size: 1rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #364883;  
    padding: .75em 1.75em; 
    border: 2px solid #364883; 
    letter-spacing: 1px;
    transition: background-color 0.1s ease; 

    &:hover {
      text-decoration: none;
      color:  #fff; 
      background-color: #364883;
    }

    & a, & a:visited, & a:hover, & a:active {
      color: inherit;
      text-decoration: none; 
    }
  }
}