---
---

/* Reset */
html, body, div, object, h1, h2, h3, h4, h5, h6, p, blockquote, object, iframe, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, hgroup, span, aside, pre, a, img, tr, th, td, tbody, tfoot, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

$min-width--sm: 300px;
$min-width--md: 600px;
$min-width--lg: 800px;

@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

header, footer, nav, section, article, main, figure, li {
  display: block;
}

body {
  line-height: 1.5;
  height: 100%;
  display: grid;
  
  a:link, a:visited {
    color: #364883;
    font-weight: normal;
    text-decoration: none;
  }
  
  a:hover, a:active {
      text-decoration: underline;
  }
}

.container {
  margin-top: 1rem;

  @include min-width($min-width--md) {
    margin-top: 2.75rem;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 50%;
  grid-gap: 1.5em;
  padding: 0;
  margin-top: 1.5rem;
  
  @include min-width($min-width--md) {
    margin-top: 2.75rem;
  }
  
  @include min-width($min-width--lg) {
    margin: 3rem -15% 0 -15%;
  }
}

.one-column {
  margin: 1.125rem auto;
  max-width: 90%;
   
  @include min-width($min-width--md) {
    max-width: 80%;
  }
  
  @include min-width($min-width--lg) {
    max-width: 60%;
  }
}

h3 {
  font-size: 1.25em;
  line-height: 1.4;
  
  @include min-width($min-width--md) {
    font-size: 1.3125em;
  }
  
  @include min-width($min-width--lg) {
    font-size: 1.5em;
  }
}

p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: .5em;
  
  @include min-width($min-width--md) {
    font-size: 1.25em;
  }
  
  @include min-width($min-width--lg) {
    font-size: 1.3125em;
  }
}

.gameoflife {
  max-width: 80%;
  margin: 0 auto; 
  display: block;
  padding: 2rem 0;
}

article p img {
  padding: 1rem 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 10vh;
}

.lead__image {
  margin: 1rem 0;
}

.hero {
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
}

.hero p:nth-of-type(1) {
  font-size: 1.3125em;
    
    @include min-width($min-width--md) {
      font-size: 1.5em;
    }

    @include min-width($min-width--lg) {
      font-size: 2em;
    }
}

.hero p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: 1.125em;
  
  @include min-width($min-width--md) {
    font-size: 1.3125em;
  }
}

.project {
  margin-top: 2rem;
  
  @include min-width($min-width--lg) {
    max-width: 90%;
    margin: 2rem auto;
  }
}

footer {
  margin: 2rem 0;
  text-align: center;
  color: #999;
}

.button { 
  font-size: 1rem;
  margin: 2rem 0;
  display: block; 
}
.button a, .button a:visited { 
  color: #ffffff; 
  background: #999; 
  display: inline-block; 
  text-decoration: none; 
  padding: .75em 1.75em; 
  border: .25em 1em; 
  border-radius: 3px; 
  transition: background-color 0.1s ease; 
}

.button a:hover, .button a:active { 
  background: #333; 
  color: #fff; 
  text-decoration: none; 
}